div {
    border: 1px solid black;

}

.box {
    border: 0.25px solid rgb(234, 233, 233);
    background-color: rgb(252, 252, 252);
}

.hover {
    background-color: darkgray;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
}


#canvas { 
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
  
}