body {
    background-color: rgb(1, 40, 15);
  
}

div {
    border: 1px solid black;

}

h1 {
    font-family: 'Brush Sript MT', cursive;

}

.box {
    border: 0.25px solid rgb(234, 233, 233);
    background-color: rgb(252, 252, 252);
}

.hover {
    background-color: darkgray;
}

.container {
    width: 90vw;
    height: 90vh;
    margin: 40px auto;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 45, 45);
}

.content {
    text-align: center;
    border: none;
}


.buttons {
    padding: 20px;
    border: none;
}

#canvas { 
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: white;
}